<div class="item row home-principles">
        <div class="span6">
            <div class="clearfix">
                <div>
                    <%= link_to contribute_path do %>
                        <div>
                            <div class="principles-icon"><i class='icon-quote-left'></i><span> ... </span><i class='icon-quote-right'></i></div>
                            <span class="principles-text">Les imaginaires des lieux de Paris racontés... en brèves</span>
                        </div>
                    <% end %>
                    <%= link_to contribute_path do %>
                        <div>
                            <div class="principles-icon"><i class='icon-group'></i></div>
                            <span class="principles-text">Un projet associatif et contributif.</br>Rejoignez-nous !</span>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix">
                <div>
                    <%= link_to contribute_path do %>
                        <div>
                            <span class="creative-commons">CC</span>
                            <span class="principles-text">Des contenus sous licence</br>Creative Commons</span>
                        </div>
                    <% end %> 
                     <%= link_to contribute_path do %>
                        <div>
                            <div class="principles-icon"><i class='icon-github-sign'></i></div>
                            <span class="principles-text">Le code est en</br>open source</span>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix">   
                <div>  
                    <a href="https://twitter.com/parisenbreves">
                        <div><i class='icon-twitter-sign'></i></div>
                    </a>
                    <a href="https://twitter.com/parisenbreves">
                        <div><i class='icon-facebook-sign'></i></div>
                    </a>
                </div>
            </div>
        </div> 
        <div class="span4 offset1">
            <div> </div>
            <div>Dans l'esprit de la chronique tenue de 1936 à 1938 par Raymond Queneau dans l'Intransigeant, Paris en brèves propose de raconter Paris au travers de ses lieux dans un format ludique et accessible.
            </div>
        </div>
</div>
