<table class="table table-hover">
	<tbody>
		<% @breve.versions.reverse_each do |version| %>
			<tr>
				<td><%= distance_of_time_in_words_to_now(version.created_at, include_seconds = false) %> ago</td>
				<td><%= history_to_s version %>
				</td>
				<td>
					<% if version.event != "create" %>
						<%= link_to "Voir avant modification", version_path(version) %>
						<% if can? :revert, version %>
							<%= link_to "Rétablir", revert_version_path(version), method: :post %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>