<h3>Liste des brèves</h1>

<ul class="unstyled span8">
	<% for @breve in @breves %>
		<li>
			<div>
			<%= link_to(@breve, :id => "show_breve_#{@breve.id}") do %> 
				<h4 class="title"><%= @breve.title %></h4>
			<% end %>
			<% if signed_in? %>
				<span class="pull-right"><%= link_to 'Delete', @breve, method: :delete, :id => "delete_breve_#{@breve.id}", data: { :confirm => "Are you sure ?"} %></span>
			<% end %>
			</div>
		</li>	
	<% end %>
</ul>
