<h1>Breves</h1>

<ul>
	<% for @breve in @breves %>
		<li>
			<%= link_to(@breve, :id => "show_breve_#{@breve.id}") do %> 
				<h2 class="title"><%= @breve.title %></h2>
			<% end %>
		 	/ 
			<%= link_to 'Edit', edit_breve_path(@breve), :id => "edit_breve_#{@breve.id}" %>
			/
			<%= link_to 'Delete', @breve, method: :delete, :id => "delete_breve_#{@breve.id}", data: { :confirm => "Are you sure ?"} %>
		</li>	
	<% end %>
</ul>
