<% content_for(:head) do %>
	<%= render :partial => 'shared/fb_preview' %>
<% end %>
<div class="container">
	<% if @content.any? %>	
			<% if params[:action] == 'published' %>
				<%= render :partial => 'shared/one_col_list' %>
			<% else %>
				<%= render :partial => 'shared/two_col_list' %>
			<% end %>
	<% end %>
	<%= will_paginate @content %>
</div>