<% content_for(:head) do %>
	<%= render "subjects/fb_preview" %>
<% end %>
<div class="container">
	<div class="row">
		<div class="span8 offset2 content-edit">
			<div>
				<h2>Editer le sujet</h2>
				<%= render 'subject_form' %>
			</div>	
		</div>
	</div>
</div>