<% content_for(:head) do %>
	<%= render "subjects/fb_preview" %>
<% end %>
<div class="container">
	<div class="row">
		<div class="span8 subject">
			<div>
				<%= render 'layouts/static_messages' %>
				<%= render 'subjects/subject_content' %>
			</div>
		</div>
		<div class="span4 sidebar">
			<div>Sujets</div>
				<%= render "shared/sidebar_content_list", content: @subjects[0..9], type: "subjects", detail: "update_based" %>
		</div>
	</div>
</div>

