<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="span4 about"> 
				<h4>A propos</h4>
				<p>Dans l'esprit de la chronique tenue de 1936 à 1938 par Raymond Queneau dans l'Intransigeant, 
					Paris en brèves propose de raconter Paris au travers de ses lieux dans un format ludique et accessible.</p>
				<p>Le projet est à but non lucratif, et la création des contenus repose sur la bonne volonté des contributeurs. 
					Ces contenus sont ditribués sous licence Creative Commons CC-BY-SA.</p>
			</div>
			<div class="span4 partners">
				<h4>Partenaires</h4>
			</div>
			<div class="span4 contact">
				<h4>Contact</h4>
				<p>Vous pouvez joindre l'équipe de Paris en brèves à l'adresse : parisenbreves[@]gmail.com. Vous pouvez aussi nous rejoindre sur Facebook et Twiter pour recevoir les dernières brèves et les informations sur le projet.</p>
				<div class="social_media">
					<a href="http://www.facebook.com/paris.en.breves">
						<%= image_tag "http://www.objectifkine.com/wp-content/uploads/2012/01/facebook-64.png" %>
					</a>
					<a href="https://twitter.com/parisenbreves">
						<%= image_tag "http://www.objectifkine.com/wp-content/uploads/2012/01/twitter-64.png" %>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>